body {
  text-align: center;
}

p {
  font-family: "Water Brush", cursive;
  font-weight: 700;
  text-indent: 200px;
}
h1 {
  font-family: "Oleo Script Swash Caps", cursive;
}

#fs {
  font-style: normal;
}

/* 
line-height
letter-spacing
word-spacing
text-transform
text-decoration
 */
.text-styles {
  line-height: 1.5rem;
  letter-spacing: 5px;
  word-spacing: 20px;
  text-decoration: line-through;
}
