/* font size, width-height, pixels 
em - relative to the font size of the element
1em - 16px default browser font size'
2em - 32px
px -
% - 
vh - height - percent of the screen
vw - width - percent of the screen
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  font-size: 60px;
  width: 200px;
  height: 200px;
  background: burlywood;
}

.inner {
  width: 50%;
  height: 50%;
  border: 1px solid red;
}

.outer {
  width: 100%;
  height: 200px;
  border: 1px solid blue;
}

.relative {
  font-size: 2em;
}

.absolute {
  font-size: 32px;
}

.banner {
  height: 50vh;
  width: 50vw;
  background: red;
  padding: 50px;
}
