/*
Block: Top Bottom Margin Respected

Inline: Top Bottom Margin Respected

*/
.block {
  background: blue;
  color: white;
  width: 150px;
  margin: 0 auto;
}

.inline {
  background-color: red;
  color: white;
}

/*
Decendent selector

*/
ul li {
  list-style: square;
  text-transform: lowercase;
  letter-spacing: 5px;
  color: cadetblue;
  background: burlywood;
}

.link-cont a {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.cont div {
  background: blue;
  margin: 10px;
  color: bisque;
}
.none {
  display: none;
}

.op-1 {
  opacity: 1;
}

.op-5 {
  opacity: 0.5;
}
.op-0 {
  opacity: 0;
}
.visibility {
  visibility: hidden;
}
