/*
relative
fixed
relative
sticky
static
*/

.cont {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  position: relative;
}

.abs {
  position: absolute;
  min-width: 30px;
  height: 30px;
  background: linear-gradient(red, green);
  top: 5px;
  right: 5px;
}

.btn {
  background: orangered;
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  position: absolute;
  bottom: 0;
  right: 0;
}
