/* ELEMENT SELECTOR */

/* h1 {
  color: chocolate;
}

h2 {
  color: green;
}

p {
  color: gray;
} */

/****************************************************************/

/* GROUPING */
/* body {
  color: blue;
}

h1,
h2 {
  color: red;
} */

/****************************************************************/

/* ID SELECTOR */

#heading {
  color: blueviolet;
  background-color: brown;
}

#subheading {
  color: green;
  background-color: yellow;
}

/****************************************************************/

/* CLASS SELECTOR */
.details {
  color: blueviolet;
  background-color: goldenrod;
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
  background-color: white;
}

/****************************************************************/

.div1 {
  background-color: red;
}

body {
  font-family: monospace;
}

/****************************************************************/

/* UNIVERSAL SELECTORS */

* {
  background-color: aliceblue;
}

/****************************************************************/

#color1 {
  color: blueviolet;
  background-color: chartreuse;
}

#color2 {
  color: green;
  background: yellow;
}

/* RGBA 0-1 OPACITY/ TRANSPARENT */
#color3 {
  background-color: rgba(0, 0, 0, 0.1);
}

/* HEX VALUES */
#color3 {
  color: #ff5e00;
}
