div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  background: url("./pexels-photo-1770809.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: orangered;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./pexels-photo-1770809.jpeg");
  color: orangered;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
